.errorcontainer{
    margin-top: -50px;
}


.page_404{ padding:5px 0;
     background:#fff; 
     font-family: 'Arvo', serif !important;
     /* width: 50%; */
     /* height: 200px; */

      /* margin-left: 50%; */
}

.page_404  img{ width:100%;}

.four_zero_four_bg2{
 margin-top: 100px;
 background-image: url(https://i.pinimg.com/originals/32/b6/f2/32b6f2aeeb2d21c5a29382721cdc67f7.gif) ;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:30px;
             color: black ;
             
			 }
			 
			 .link_404{			 
	color: black!important;
    padding: 10px 20px;
    background: #FFC107;
    margin: 20px 50px 0px 70px;
    display: inline-block;}
	.contant_box_404{
         margin-top:-10px;
        margin-left: 40%;
        }
    .h2{
        color: black;
        margin-left: -70%;
        font-size: 30px;
        text-align: center;
        animation: wave 1s infinite; /* Apply the wave animation */
    }

    @keyframes wave {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
        100% {
          transform: translateY(0);
        }
      }
      
  