/* ProfileInfo.css */

.context {
  margin: 20px;
}

#perhead {
  font-size: 24px;
  margin-bottom: 10px;
}

#details {
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.horizontal-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#labelgender {
  margin-right: 10px;
}

.myprofilebtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.myprofilebtn:hover {
  background-color: #0056b3;
}
