#full{
    margin-top: 10%;
    /* width: 100%; */
    /* margin-left: 20%; */
    overflow: hidden;
    margin-left:10rem ;
  }
  #right-payment-mode{
  width: 50%;
    
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha channel for the desired level of opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Set a high z-index to ensure the modal is on top of other elements */
  }
  
  .modal-content {
    /* background-color: white; Or any other background color you prefer */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow for a subtle effect */
  }

  
  #payment-price{
    /* border: 1px solid red; */
    justify-content: space-between;
    display: flex;
    width: 70%;
    margin-left: 8%;
  }
  #payment-mode{
    border: 1px solid #eee;
    display: flex;
    /* width: 50%; */
    margin-left: 8%; 
    border-radius: 2px;
    height: 500px;
  }
  #left-payment-mode{
    width: 30%;
    background-color: whitesmoke;
  }
  #left-payment-mode>button{
    display: block;
    width: 100%;
    margin: auto;
    padding: 20px 15px;
    border: none;
    border-bottom: 1px solid 
    #e0e0e0;
    font-weight: bold;
    text-align: left;
  }
  #left-payment-mode>button:nth-child(1){
    border-left: 5px solid 
    #ffc107;
    background-color: white;
  }
  #payment-debit{
    border: 1px solid gainsboro;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    display: block;
  }
  #payment-debit>div{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
  }
  #payment-debit>div>img{
    width: 20px;
    height: 20px;
    margin: 0 3% 0 10%;
  }
  .inputte{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray
  }
  #payment-debit>input:nth-child(4){
    width: 40%;
    display: inline;
    margin: 0 2%;
  }
  #payment-debit>input:nth-child(5){
    width: 40%;
    display: inline;
    margin: 0 2% 10px;
  }
  #card-payment-div2{
    display: flex;
  align-items: center;
  }
  #card-payment-div2>label{
    width: 90%;
    font-weight: bold;
  }
  #card-payment-div2>input{
    width: 10px;
  }
  #payment-debit>p{
    padding: 0 10px;
    color: gray;
    text-align: left;
  }
  #nav-Signed{
    color: #eee;
  }
  #card-pay-now-button{
    width: 90%;
    padding: 15px 20px;
    background-color:#ffc107;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  #payment-wallet{
    display: none;
  }
  #payment-wallet>div{
    display: flex;
    border: 2px solid #eee;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  #payment-wallet>div>img{
    height: 30px;
    margin: 0px 20px;
  }
  #payment-wallet>div>p{
  width: 280px;
  }
  #payment-wallet>div>input{
    height: 20px;
    margin-top: 10px;
    margin-left: 20%;
  }
  
  #payment-net-banking{
    display: none;
  }
  #payment-net-banking>div{
    display: flex;
    border: 2px solid #eee;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  #payment-net-banking>div>img{
    height: 30px;
    margin: 0px 20px;
  }
  #payment-net-banking>div>p{
  width: 280px;
  }
  
  #payment-net-banking>div>input{
    height: 20px;
    margin-top: 10px;
    margin-left: 20%;
  }
  #payment-net-other-arrow{
    border-radius: 50%;
    height: 20px;
    margin-left: 50%;
    background-color: transparent;
    border: 0;
    transform: rotate(225deg);
  }
  #payment-net-banking>p{
    font-size: 10px;
    color: gray;
    padding: 0 20px;
  }
  #payment-upi{
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    display: none;
  }
  #payment-upi>div{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  #payment-upi>div>img{
    height: 30px;
  }
  
  #payment-upi>div:nth-child(1)>p:nth-child(2){
    width: 200px;
    margin-left: 5%;
  }
  #payment-upi>div:nth-child(1)>input{
    height: 20px;
    margin-top: 10px;
    margin-left: 20%;
  }
  #payment-upi>input{
    width: 85%;
  }
  #payment-upi>p{
    padding: 0 30px;
    color: gray;
    text-align: left;
  }
  #payment-upi>div:nth-child(2){
   margin-left: 20%;
   border: 1px solid green;
  }
  #payment-upi>button{
    width: 90%;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  #payment-cod-button>p:nth-child(1){
    text-decoration: line-through;
    color: gray;
    font-size: 10px;
  }
  #payment-cod-button>p:nth-child(2){
    color: #d29389;
    font-size: 10px;
  }
  
  
  
  /* #adress-payment-btn {
    background-color: rgb(254, 255, 255);
    color: rgb(7, 6, 6);
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: none;
    border-color: gold 5px;
  } */
  
  
  @media only screen and (max-width: 478px) {
  
    #payment-net-banking>div{
      max-width: 300px;
    }
  
    #payment-mode{
      border: 1px solid #eee;
      display: flex;
      min-width: 70%;
      margin-right: -60%; 
      border-radius: 2px;
      height: 50%;
     
  
    }
  
    #payment-debit{
      border: 1px solid gainsboro;
      width: 50%;
      margin: 10px auto;
      text-align: center;
      border-radius: 5px;
      display: block;
      margin-right: 80%;
  
    }
  
    #full{
      margin-left: -10%;
      margin-top: 25%;
      height: 40rem;
    }
     
  
    #payment-price{
     width: 70%;
     
     margin-left: 15%;
     
    }
    #left-payment-mode{
      width: 15%;
    }
  
    #right-payment-mode{
      min-width: 80%;
      height: 30px;
      margin-right: -30%;
      margin-left: 3%;
    }
  
    #full{
      justify-content: center;
    }
  
    #payment-wallet {
      /* display: none; */
      margin-right: 50%;
  }
  
  #payment-net-banking{
    margin-right: 50%;
  }
  #payment-upi{
    width: 300px;
  }
  
  
  
    
    
  }